<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">

		<title>MMORPG - Game of Thrones</title>
		
		<!-- JQuery -->
		<script src="js/jquery-2.2.1.js"></script>

		<!-- bootstrap - link cdn -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	
		<!-- incluindo css -->
		<link href="css/style.css" rel="stylesheet">

	</head>

	

	<body class="body-index">

		<nav class="navbar navbar-default navbar-static-top">
			<div class="container">

			<% if(validacao.length > 0 )  { %>
			<br>
				<div class="alert alert-danger">
					<strong>Atenção!</strong>
					<ul>
						<% for(var i = 0; i < validacao.length; i++) { %>
						<li><%=validacao[i].msg%></li>
						<%}%>
					</ul>
				</div>

			<%}%>
				<form class="form-control form-entrar" action="/assinar" method="post">
					<div class="form-group">				
					<input type="text" name="nome" id="nome" placeholder="nome" class="form-control" autocomplete="off" />
					<input type="text" name="funcao" id="funcao" placeholder="funcao" class="form-control" autocomplete="off" />
					<input type="text" name="email" id="email" placeholder="email" class="form-control" autocomplete="off" />
					<input type="text" name="fone1" id="fone1" placeholder="fone1" class="form-control" autocomplete="off" />
					<input type="text" name="fone2" id="fone2" placeholder="fone2" class="form-control" autocomplete="off" />
						<button type="submit" class="btn btn-success">Entrar</button>
						<button type="button" class="btn btn-info">Cadastro</button>
					</div>
				</form>
					<br>
			</div>
			
		</nav>

	    <div class="container">
	    	<div class="row">
	    		<div class="col-md-2"></div>

	    		<div class="col-md-8">
					<img src="http://blogs.diariodonordeste.com.br/automovel/wp-content/uploads/2016/02/pigallelogo.jpeg" />
				</div>

	    		<div class="col-md-2"></div>
		    	</div>
	    	</div>
	 	
		
	</body>
</html>