<div id="pergaminhos">					
	<h3>Pergaminhos</h3>
	
	<ul>
		<% acoes.forEach(function(acao) { %>

			<%
				let txt_acao = '';
				switch (parseInt(acao.acao)){
					case 1: txt_acao = 'aldeao coletando recursos'; break;
					case 2: txt_acao = 'enforcamento programado';break;
					case 3: txt_acao = 'aldeao em treinamento de historia';break;
					case 4: txt_acao = 'aldeao em treinamento de magia'; break;

				}
				let date = new Date();
				let momento_atual = date.getTime();
				let segundos_restantes = Math.round((acao.acao_termina_em - momento_atual) / 1000);

			%>


  <li><%=acao.quantidade %> - <%=txt_acao%>  <small> restam <span class="tempo_restante"><%=segundos_restantes%> </span> segundos -><a href="/revogar_acao?_id=<%=acao._id%>">revogar ordem</a> </small></li>
					
		<%});%>
		
	</ul>
</div>